notifications:
  email: false

sudo: required

dist: trusty

language: python
python:
  - "3.6"
 
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Create dl environment with packages from dl_env_linux.yml file
  #- conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION --file ./ci/requirements.txt
  - conda env create -f  ./environments/dl_env_linux.yml
  - source activate dl
  - pip install codecov
  - conda list
 
before_script:
  - source activate dl

script:
  - pytest 
  - coverage run ./ci/dl_test.py
 

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - codecov

